* {
    box-sizing: border-box;
}

:root {
    --primary-color-dark: #212832;
    --primary-color-light: #7264d6;
    --secondary-color-grey: #696d77;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */

.container {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 58px;
    --width: 149px;

    color: var(--primary-color-dark);
    height: var(--height);
    line-height: var(--height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--width);
    border-radius: 8px;
    background: #212832;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.section-label {
    color: var(--secondary-color-grey);
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section-label::before {
    content: "";
    background: var(--secondary-color-grey);
    width: 18px;
    height: 2px;
    margin-right: 12px;
}

.section-desc {
    color: var(--secondary-color-grey);
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.section-heading {
    color: var(--primary-color-dark);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

/* Header */
.header {
    margin-top: 42px;
}

.header__inner,
.logo,
.header__nav-wrap,
.header-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__inner {
    justify-content: space-between;
}

.logo {
    column-gap: 7px;
}

.logo__text {
    color: var(--primary-color-dark);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header__nav-wrap {
    column-gap: 70px;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 24px;
    color: #696d76;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    position: relative;
    color: var(--primary-color-dark);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.navbar__link--active::before {
    content: "";
    position: absolute;
    width: 47px;
    height: 1px;
    top: 31px;
    right: 24px;
    border-radius: 0.5px;
    background: var(--primary-color-light);
}

.header-action__link {
    color: var(--primary-color-dark);
    font-weight: 600;
}

.header-action__btn {
    --height: 52px;
    --width: 113px;
}

.header-action__btn:hover,
.header-action__link:hover {
    opacity: 0.9;
}

/* Hero */

.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__heading {
    margin-top: 12px;
    width: 500px;
    color: var(--primary-color-dark);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading--strong {
    color: var(--primary-color-light);
}

.hero__desc {
    width: 540px;
}

.subscription-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.subscription-form__input {
    width: 100%;
    height: 100%;
    padding: 23px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--primary-color-dark);
}

.subscription-form__input::placeholder {
    color: var(--secondary-color-grey);
    font-size: 1.6rem;
    line-height: 1.75;
}

.subscription-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 149px;
    height: 58px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 8px;
    background: #7264d6;
    padding: 8px;
    margin-right: 8px;
    border: none;
    outline: none;
    cursor: pointer;
}

.subscription-form__submit:hover {
    opacity: 0.9;
}

.hero__note {
    margin-top: 20px;
    color: var(--secondary-color-grey);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__mobile {
    position: relative;
    margin-right: 160px;
}

.screen {
    position: relative;
    background-image: url(../img/hero-mobile.svg);
    width: 296px;
    height: 562px;
}

.credit-card {
    position: absolute;
    inset: 52px 23px 0 23px;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(76deg, #9487ea 11.52%, #6657d2 70.78%);
}

.credit-card__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credit-card_label {
    padding: 16px;
    color: #fff;
    font-size: 1.4rem;
    z-index: 1;
}

.credit-card_logo {
    padding: 16px;
}

.credit-card__decor-top {
    position: absolute;
    top: 0px;
    left: 18px;
}

.credit-card__decor-bottom {
    position: absolute;
    bottom: 0;
    right: 12px;
}

.credit-card__balance {
    padding: 2px 16px 0 16px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}

.credit-card__card-holder {
    position: relative;
    display: flex;
    z-index: 1;
    column-gap: 12px;
    padding: 32px 0 0 16px;
}

.credit-card__name {
    color: #fff;
    font-size: 1rem;
}

.credit-card__card-date {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 5px 16px;
    display: flex;
    column-gap: 36px;
}

.credit-card__date-name {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.credit-card__transactions {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 226px 23px 28px 23px;
}

.credit-card__trans-heading {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
}

.trans-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    padding: 0 23px 42px 23px;
}

.trans-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trans-item__inner {
    display: flex;
}

.trans-item__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #edf8fc;
}

.trans-item__info {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-left: 14px;
}

.trans-item:nth-of-type(2) .trans-item__icon-wrap {
    background: #fbf0f0;
}

.trans-item:nth-of-type(3) .trans-item__icon-wrap {
    background: #edf6f4;
}

.trans-item:nth-of-type(4) .trans-item__icon-wrap {
    background: #f1f0fb;
}

.trans-item__title {
    color: var(--primary-color-dark);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.trans-item__desc {
    color: #696d76;
    font-size: 1;
    line-height: 1;
}

.trans-item__balance-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    row-gap: 6px;
}

.trans-item__value {
    color: var(--primary-color-dark);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.trans-item__date {
    color: var(--secondary-color-grey);
    font-size: 1rem;
    line-height: 1;
    align-self: flex-end;
}

.card-deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.card-deposite__text {
    color: var(--primary-color-dark);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 8px;
}

.card-deposite__price {
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
    margin-left: 19px;
}

.card-secured {
    position: absolute;
    bottom: 61px;
    right: -74px;
    display: flex;
    column-gap: 11px;
    align-items: center;
    padding: 14px 20px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}

.card-secured__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.card-secured__text {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
}

.card-interest {
    position: absolute;
    top: 127px;
    right: -174px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    background: #da6464;
    border-radius: 50%;
}

.card-interest__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.card-interest__text {
    margin-top: 3px;
    color: #fff;
    font-size: 1.6rem;
}

/* About */
.about {
    margin-top: 160px;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__images {
    position: relative;
}

.about__background {
    display: block;
}

.about__people-bg {
    position: absolute;
    display: block;
    top: -73px;
    left: 0;
    width: 456px;
    height: 619px;
}

.about__card-bank {
    position: absolute;
    top: 0;
    left: 337px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
}

.about__icon-bank {
    position: absolute;
    padding: 6px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
}

.about__card-tick {
    position: absolute;
    bottom: 96px;
    right: -100px;
    display: flex;
    align-items: center;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.about__card-info {
    margin-left: 10px;
}

.about__card-square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #4ab5e3;
    border-radius: 6px;
}

.about__card-square::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
}

.about__icon-tick {
    position: relative;
    z-index: 1;
}

.about__card-text {
    color: var(--primary-color-dark);
    font-size: 1.4rem;
    font-weight: 600;
}

.about__heading {
    margin-top: 12px;
}

.about__card-decs {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
}

.about__list {
    margin-top: 70px;
    width: 470px;
}

.about__title {
    margin-top: 30px;
    color: var(--primary-color-dark);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.about__decs {
    margin-top: 16px;
    color: var(--secondary-color-grey);
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Service */

.service {
    margin-top: 160px;
}

.service__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 320px;
}

.service__media {
    position: relative;
}

.section-heading,
.service__decs {
    width: 470px;
}

.service__list {
    margin: 28px 0 38px 0;
}

.service__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--primary-color-dark);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.service__item::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #7264d6;
    border-radius: 50%;
}

.service__item:nth-child(2) {
    margin: 18px 0;
}

.service-card {
    position: relative;
    padding: 38px;
    width: 482px;
    height: 322px;
}

.service-card__label {
    position: relative;
    font-size: 2.4rem;
    padding: 0;
    z-index: 1;
}

.service-card__balance {
    position: relative;
    font-size: 3.2rem;
    padding: 0;
    z-index: 1;
}

.service-card__logo {
    padding: 0;
}

.service-card__holder {
    padding: 0;
    margin-top: 98px;
}

.service-card__name {
    font-size: 2rem;
}

.service-card__date-wrap {
    padding: 0;
    margin-top: 4px;
}

.service-card__date {
    font-size: 2.2rem;
    font-weight: 600;
}

.service-card__date-name {
    font-size: 2rem;
    font-weight: 400;
}

.card-money {
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.card-money_wrap {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.card-money__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fbf0f0;
    border-radius: 8px;
}

.card-money__title {
    color: var(--primary-color-dark);
    font-size: 1.2rem;
    font-weight: 500;
}

.card-money__desc,
.card-money__date {
    color: var(--secondary-color-grey);
    margin-top: 3px;
    font-size: 1rem;
    text-align: right;
}

.card-money__value {
    color: var(--primary-color-dark);
    font-size: 1.6rem;
}

.card-income {
    position: absolute;
    right: -88px;
    padding: 14px 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.card-income__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
}

.card-income__text {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
}

.card-income__value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.service__images {
    position: relative;
}

.service__background {
    position: relative;
}

.service__people {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 2px;
    width: 413px;
    height: 600px;
}

.method {
    position: absolute;
    top: 155px;
    right: 74px;
    padding: 28px;
    width: 281px;
    height: 220px;
    background: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.method__heading {
    color: var(--primary-color-dark);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.method__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.method__item {
    width: 63px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #f2f2fa;
}

.method__item:last-child {
    background: #f9ea63;
}

.money-circle {
    position: absolute;
    top: 120px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--primary-color-light);
}

/* Testimonial */

.testimonial {
    margin-top: 160px;
}

.testimonial__label {
    justify-content: center;
}

.testimonial__heading {
    width: auto;
    margin-top: 12px;
    padding-bottom: 18px;
    text-align: center;
}

.testimonial__desc {
    font-size: 1.6rem;
    width: 435px;
    text-align: center;
    margin: 0 auto;
}

.testimonial__list {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial__item {
    display: block;
}

.testimonial__content {
    position: relative;
    width: 570px;
    height: 272px;
    padding: 42px 28px;
    color: var(--secondary-color-grey);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54;
    background: #fff;
    border: 1px solid #dfe2e8;
}

.testimonial__content::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -60px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid #fff;
}

.testimonial__content::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -62px;
    border-left: 61px solid transparent;
    border-right: 61px solid transparent;
    border-top: 62px solid #dfe2e8;
}

.testimonial__content:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    border: none;
}

/* .testimonial__content:hover::after {
    border: none;
} */

.testimonial__content:hover::before {
    border: none;
}

.client {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial__item:nth-child(odd) .client__avatar {
    background-color: #4ab5e3; /* Nền màu blue cho các hình ảnh ở vị trí lẻ */
}

.testimonial__item:nth-child(even) .client__avatar {
    background-color: #439f90; /* Nền màu green cho các hình ảnh ở vị trí chẵn */
}

.client__avatar {
    display: block;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
    object-fit: cover;
}

.client__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.client__desc {
    color: var(--secondary-color-grey);
    font-size: 1.8rem;
    line-height: 1.67;
}

.testimonial__rectangles {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.testimonial__rectangle {
    width: 22px;
    height: 6px;
    background: transparent;
    border: 1px solid #9b9fab;
}

.testimonial__rectangle--active {
    background: #6657d2;
}

/* Blog */

.blog {
    margin-top: 160px;
}

.blog__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__desc {
    width: 435px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    gap: 22px;
    width: 570px;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog-item__thumb {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog-item__post-date {
    color: var(--secondary-color-grey);
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog-item__title {
    margin-top: 10px;
    color: var(--primary-color-dark);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__link {
    display: block;
    margin-top: 20px;
    color: var(--secondary-color-grey);
    font-size: 1.6rem;
    line-height: 1.62;
}

.blog-item__link:hover {
    color: var(--primary-color-light);
}

/* Download */
.download {
    margin-top: 160px;
}

.download__inner {
    position: relative;
    width: 100%;
    padding: 100px 368px;
    text-align: center;
    border-radius: 24px;
    background: #7264d6;
}

.download__decor-star {
    position: absolute;
}

.download__decor-star:first-of-type {
    bottom: 49px;
    left: 166px;
}

.download__decor-star:nth-of-type(2) {
    top: 49px;
    left: 112px;
}

.download__decor-star:nth-of-type(3) {
    top: 49px;
    right: 112px;
}

.download__decor-star:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
}

.download__label,
.download__heading,
.download__desc {
    color: #fff;
}

.download__heading {
    width: 100%;
}

.download__desc {
    margin-top: 18px;
}

.download__label {
    justify-content: center;
    padding-bottom: 12px;
    font-weight: 400;
    line-height: 1.75;
}

.download__label::before {
    background: #fff;
}

.section-label::before .download__desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.download__store {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.download__store-item {
    width: 182px;
    border-radius: 6px;
    padding: 18px 31px;
    background: #fff;
}

/* Footer */
.footer {
    margin-top: 100px;
    background: #fafbff;
}

.footer__inner {
    padding-top: 100px;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 163px;
}

.footer__heading {
    color: var(--primary-color-dark);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer__list {
    padding-top: 12px;
}

.footer__link {
    display: block;
    color: #6a6e78;
    margin-top: 12px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__address {
    margin-top: 24px;
    min-width: 371px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.67;
}

.footer__subscribe-wrap {
    margin-top: 48px;
}

.footer__subscribe {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__input {
    padding: 12px;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    outline: none;
}

.footer__input::placeholder {
    color: #8e919a;
    font-size: 1.6rem;
    line-height: 1.75;
}

.btn__submit {
    width: 113px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #7264d6;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.btn__submit:hover {
    opacity: 0.9;
}

.footer__contact {
    display: flex;
    align-items: center;
    gap: 100px;
    color: var(--secondary-color-grey);
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration: underline;
}

.footer__copyright {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 84px;
    color: #fff;
    background: #7264d6;
}
